.nomargin {
    margin: 0 0 0 0;
}

span.spacer {
    margin: 0 12px 0 12px;
}

section {
    padding-top: 50px;
}

md-chips-wrap {
    margin-top: 18px;
    min-height: 40px;
}


md-input-container.skinny {
    margin: 0;
    height: 30px;
}
